body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
li {
list-style-type: none;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.chart-text {
  fill: #000;
  -moz-transform: translateY(0.25em);
  -ms-transform: translateY(0.25em);
  -webkit-transform: translateY(0.25em);
  transform: translateY(0.25em);
}

.chart-number {
  font-size: 0.6em;
  line-height: 1;
  text-anchor: middle;
  -moz-transform: translateY(-0.25em);
  -ms-transform: translateY(-0.25em);
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}

.chart-label {
  font-size: 0.2em;
  text-transform: uppercase;
  text-anchor: middle;
  -moz-transform: translateY(0.7em);
  -ms-transform: translateY(0.7em);
  -webkit-transform: translateY(0.7em);
  transform: translateY(0.7em);
}
.shape-circle {
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}

figure {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin-left: -15px;
  margin-right: -15px;
}
.loading{
   text-align: center;
   font-size: 35px;
}